Personal Assistant/Personal Assistant.json
{
  "name": "Personal Assistant",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Text }}",
        "options": {
          "systemMessage": "Role:\nYou are an intelligent Telegram assistant that understands and responds naturally to both voice and text messages. You can access memory, contact data, calendar events, email tools, and research functions to provide useful, contextual, and actionable responses.\n\nCore Responsibilities:\n\nMessage Understanding\n\nIf input is voice, first convert it to text using transcription.\n\nAlways analyze the message intent before responding.\n\nHandle both short casual queries and long, detailed requests.\n\nContext Awareness & Memory\n\nRetrieve relevant information from Simple Memory to maintain continuity across conversations.\n\nUse memory to recall user preferences, previous requests, and stored data.\n\nUpdate memory with new information when appropriate.\n\nTool Usage\n\nUse Contact Database to retrieve or reference contact details.\n\nUse Email Agent to draft, send, or summarize emails.\n\nUse Calendar Agent to create, modify, or remind about events.\n\nUse Research Agent to search or gather factual or up-to-date information when needed.\n\nResponse Style\n\nAlways reply in clear, natural, and concise language suitable for Telegram chat.\n\nIf the user’s question is complex, give a structured answer (with steps, lists, or explanations).\n\nIf a follow-up is needed, politely ask clarifying questions.\n\nMaintain a friendly yet professional tone.\n\nError Handling\n\nIf any tool or memory access fails, apologize briefly and continue to provide a helpful response using only the available data.\n\nNever expose internal process details or errors to the user.\n\nOutput Format\n\nReturn plain text messages suitable for Telegram.\n\nWhen appropriate, include brief markdown for emphasis (bold, italic, lists).\n\nKeep replies under 3 short paragraphs unless a detailed explanation is requested.\n\nExample Behavior:\n\nVoice message: Transcribe → detect intent → respond in text.\n\nText message: Directly process → respond or take action (e.g., schedule meeting, send email).\n\nIf unclear: Ask a clarifying question.\n\nIf factual question: Use Research Agent.\n\nIf related to contact/calendar/email: Use appropriate tool."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1120,
        -80
      ],
      "id": "fab89c13-e789-458d-98c3-5f757963004f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -32,
        -80
      ],
      "id": "30567ab2-f968-48c3-941d-eb0669e3e7a1",
      "name": "Telegram Trigger",
      "webhookId": "0d6ae03b-e048-4b39-85e2-de5d51063b6b",
      "credentials": {
        "telegramApi": {
          "id": "6wVuYt57zQIqiG95",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        864,
        144
      ],
      "id": "9c0f39de-0593-4074-a12b-fba6ba42c1a3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pmzaPZCDlGfgBNeU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        992,
        144
      ],
      "id": "ff2bf8b9-9252-4d4b-8914-53d4f1e0cdec",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1U_QR-v2juI3q_aCX5Rb2_8cCELRz0IkBYc_dKdphdRs",
          "mode": "list",
          "cachedResultName": "Contact Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U_QR-v2juI3q_aCX5Rb2_8cCELRz0IkBYc_dKdphdRs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U_QR-v2juI3q_aCX5Rb2_8cCELRz0IkBYc_dKdphdRs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1120,
        144
      ],
      "id": "e31226cd-8f3f-4d03-8071-4fbc7a516a3e",
      "name": "Contact Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ugBj5HtqNkgdfltM",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1712,
        -80
      ],
      "id": "4f19053b-79f7-48da-b092-e22b1a85f895",
      "name": "Response",
      "webhookId": "3262e9da-79eb-4069-b066-c1caef819fc7",
      "credentials": {
        "telegramApi": {
          "id": "6wVuYt57zQIqiG95",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this agent to take action on emaill",
        "workflowId": {
          "__rl": true,
          "value": "diJPGk6zKsp6O3LJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/diJPGk6zKsp6O3LJ",
          "cachedResultName": "My project — Email Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1248,
        144
      ],
      "id": "5facfa4f-871f-4c3b-b767-2bc06624d602",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "description": "call this to take action in calendar",
        "workflowId": {
          "__rl": true,
          "value": "O3VnIx6cYjGuBQDu",
          "mode": "list",
          "cachedResultUrl": "/workflow/O3VnIx6cYjGuBQDu",
          "cachedResultName": "My project — Calendar Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1376,
        144
      ],
      "id": "bb6dbdcd-c28a-408a-9def-e6de5ea02c2d",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "description": "call this tool to research the internet to answer the user's question",
        "workflowId": {
          "__rl": true,
          "value": "yr9FW2a1GVk8xSgx",
          "mode": "list",
          "cachedResultUrl": "/workflow/yr9FW2a1GVk8xSgx",
          "cachedResultName": "My project — Research Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1504,
        144
      ],
      "id": "5a53b1be-a17c-402c-b54b-4ccc8db765c1",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "f8194e10-cd87-49af-97ae-faf545f945fb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fcff3ae0-1955-4259-9aa6-48aa0dadad49",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        192,
        -80
      ],
      "id": "0c18dceb-9141-4a5d-86e2-f739516d4e65",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a859cf8f-e963-4b24-b55b-0f1838e44b44",
              "name": "Text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        16
      ],
      "id": "56af97bc-9b2e-4087-b2e1-56e73485b351",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        -176
      ],
      "id": "aa550550-22ca-49c9-9ba0-2dc6be08044f",
      "name": "Download Voice File",
      "webhookId": "abeb6851-13a9-4496-aaa3-b74571ea79d5",
      "credentials": {
        "telegramApi": {
          "id": "6wVuYt57zQIqiG95",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-preview-05-20",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-preview-05-20"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        640,
        -176
      ],
      "id": "c86680fa-46b1-47e8-8e5f-75d99a0db063",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "pmzaPZCDlGfgBNeU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Contact Database": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d803888b-ea75-4aef-ba8e-70d2ee7563e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c49d37a9e11ecdec4e6443eb61163cfc01d609a99fae993378d9b6b25a6e693b"
  },
  "id": "uAYHTERjHWza1WRg",
  "tags": []
}